






html {
    font-size: 16px;
  }
  
  p{
    font-family: Nunito, sans-serif;
  }
  
  h1{
    font-family: Nunito, sans-serif !important;
  }
  
  
  
  body {
    padding: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .overlay{color:#FFFFFF; background-color:inherit; }
  .overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
  .overlay.light{color:#474747;}
  .overlay.light::after{background-color:rgba(255,255,255,.7);
  overflow-x:hidden}
  
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  
  
  .padding-left-right-0 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .testimonial-carousel {
    display: block;
    width: 95vw;
    margin: 0 auto;
  }
  
  
  
  
  .flip-card--black-font{
    color: #000 !important;
  }
  
  .flip-card__front-row {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 0;
    padding-right: 0;
  }
  
  
  .flip-card--column-text {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: Nunito, sans-serif;
  }
  
  .flip-card__about-card {
    width: 100%;
  }
  
  .flip-card--column-text--heading {
    text-transform: capitalize;
    font-size: 2.5rem;
  }
  
  .flip-card--column-text--byline {
    padding-top: 1rem;
    font-weight: lighter;
  }
  
  .flip-card__image {
    width: 100%;
    height: 100%;
    filter: opacity(0.8); 
    /* border-radius: 2px; */
    transition: all 0.3s ease;
  }
  
  .flip-card__image--no-hover {
    width: 100%;
    height: 100%;
    
  }
  
  @media(max-width:768px)
  {
    .flip-card {
      height: 400px;
    }
    .flip-card__image {
      object-fit: cover;
    }
    
    .padding-left-right-0 {
      height: 50%;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .flip-card--column-text {
      position: absolute;
      top:0;
      left:50%;
    }
    .edu-cov-col-text {
      position: absolute;
      top:25%;
    }
    .edu-cov-img {
      position: absolute;
      top:100%;
      transform: translateY(-100%);
    }
  
  }
  
  @media(max-width:576px) 
  {
  
    .flip-card {
      height: 500px;
    }
    .flip-card--column-text--byline {
      padding-top: 0;
      font-weight: lighter;
    }
    .flip-card--column-text--heading {
      text-transform: capitalize;
      font-size: 2rem;
    }
    hr {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .edu-cov-img {
      position: absolute;
      top:100%;
      transform: translateY(-100%);
    }
  
    .flip-card__front-row--covid-576px 
    {
       height: 50%;
    }
    
    .edu-cov-col-text {
      margin-top: 1rem;
    }
    
  }
  
  /* .flip-card__image:hover {
    transform: scale(1.1);
    box-shadow: 0 .2rem 4rem rgba(0, 0, 0, 0.5);
  } */
  
  ::-moz-selection {
    background: #fed136;
    text-shadow: none;
  }
  
  ::selection {
    background: #fed136;
    text-shadow: none;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  
  
  
  
  
  #pageintro{color:#FFFFFF;}
  
  
  
  
  
  #pageintro{padding:200px 0 400px;}/* 400px => 200px for #introblocks negative margin */
  
  #pageintro article, #pageintro article p{display:block; max-width:100%;  auto; text-align:center;}
  #pageintro article p{max-width:65%; line-height:2rem;}
  #pageintro .heading{margin-bottom:20px; font-size:4rem;}
  #pageintro footer{margin-top:50px;}
  
  #introblocks{display:block; position:relative; margin:-280px 0 0 0; z-index:1; text-align:center;}/* 280px => 200px + container padding */
  @media screen and (max-width:750px){
  
  
      #pageintro article, #pageintro article p{max-width:none;}
      #pageintro .heading{font-size:2rem;}
  
  
      
      #introblocks > ul{margin:0 auto 80px;}
      #introblocks > ul, #latest article{max-width:348px;}/* Restrict the width to the one_third grid element */
      .team figure{max-width:300px;}/* Restrict the width to the image width */
      #introblocks > ul > li, .imgroup li:nth-last-child(-n+3){margin-bottom:50px;}
      .clients li:nth-last-child(-n+4){margin-bottom:20px;}
      #introblocks > ul > li:last-child, .imgroup li:last-child, .clients li:last-child{margin-bottom:0;}
  
  }
  
  .card {
    font-family: Nunito, sans-serif;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  
  .header__testimonials {
    text-align: center;
    font-size: 3.25rem;
    border-bottom: 2px dotted #0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .header__activities {
    text-align: center;
    font-size: 3.25rem;
    border-bottom: 2px dotted #0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .header__initiatives {
    text-align: center;
    font-size: 3.25rem;
    border-bottom: 2px dotted #0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  
  
  
  .row--testimonials {
    max-width: 114rem;
    margin: 0 auto;
    padding-bottom: 30rem; }
    .row--testimonials [class^="col-"] {
      float: left; }
      .row--testimonials [class^="col-"]::after {
        content: "";
        display: table;
        clear: both; }
      .row--testimonials [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
    .row--testimonials .col-1-of-2 {
      width: calc((100% - 6rem)/2); }
    .row--testimonials .col-1-of-3 {
      width: calc((100% - 2*6rem)/3); }
    .row--testimonials .col-1-of-4 {
      width: calc((100% - 3*6rem)/4); }
    .row--testimonials .col-2-of-3 {
      width: calc(((2/3)*((100% - 2*6rem))) + 6rem); }
    .row--testimonials .col-2-of-4 {
      width: calc((2*(100% - 3*6rem)/4) + 6rem); }
    .row--testimonials .col-3-of-4 {
      width: calc(3*((100% - 3*6rem)/4) + 2 * 6rem); }
  
  
  
  .section-header
  {
    height: 100%;
  }
  
  .section-initiatives {
    height: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .header{
    position: relative;
  }
  
  .heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  
  }
  
  .u-center-text{
    text-align: center;
  }
  
  .u-margin-bottom-big{
    margin-bottom: 8rem;
  }
  
  .u-margin-bottom-medium{
    margin-bottom: 4rem;
  }
  
  .u-margin-bottom-small{
    margin-bottom: 1rem;
  }
  
  .u-margin-top-big{
    margin-top: 8rem;
  }
  
  .header-by-line {
    position: absolute;
    left: 50%;
    top: 15%;
    color: white;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    transform: translate(-50%, -50%);
    text-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.8);
  }
  
  
  .header-by-line--line1 {
    width: 80vw;
    margin-bottom: 0;
    font-size: 2.7rem;  
    /* 2.7rem = 2.7*16px = 43 px */
    /* font size < 47px will fit one line */
  }
  
  
  
  .mission-text {
  
    margin-left: 1rem;
    margin-right: 1rem;
  
    color: black;
    font-size: 1rem;
    text-align: center;
    font-family: Nunito, sans-serif;
  }
  
  .mission-readmore:link, .mission-readmore:visited {
  
    text-decoration: none;
    color: #73C38E;
    font-size: 1.5rem;
    font-family: Nunito, sans-serif;
  
  }
  .vision-text {
  
    margin-left: 1rem;
    margin-right: 1rem;
  
    color: white;
    font-size: 1rem;
    text-align: justify;
    font-family: Nunito, sans-serif;
  }
  
  .vision-readmore:link, .vision-readmore:visited {
  
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  
  }
  
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    background-image: none;
    width: 100vw;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    /* transform: rotateX(180deg); */
    background-image: none;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  @media(min-width:1200px){
  .c-1{
    max-width: 80%;
  }
  }
  
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front{
    /* font-size: 40px;
    font-weight: bolder; */
    color: black;
    /* opacity: 85%; */
    text-align: center;
  }
  
  .flip-card-front-heading {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    /* padding-top: auto;
    padding-bottom: auto; */
    font-family: Nunito, sans-serif;
    font-weight: bolder;
    position: relative;
  }
  
  .h-1{
    /* margin-top: 30px; */
    font-size: 4rem;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    /* transform: rotateX(180deg); */
  }
  
  .p-2{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: lighter;
    margin-top: 2%;
  }
  .h-2{
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 5%;
    text-align: left;
    margin-left: 6%;
  }
  
  .btn:link, .btn:visited {
    font-size: 1.6rem;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* makes it a block element */
    display: inline-block;
    /* gives a round fillet to the border */
    border-radius: 10rem;
    /* transition property -> transition: <property-name-to-be-transitioned> */
    transition: all 0.2s;
    position: relative; }
  
  .btn--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
    /* will automatically apply the styles of 0% before the animation starts */ }
  
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /*black shadow with 20% opacity*/ }
  
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
  .btn::after {
    /*have to specify the content and display property*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*have to put transition property in initial state*/
    transition: all 0.4s; }
  
  
  .btn3{
  
    height: 50px;
    width: 130px;
    border-radius:25px ;
    background-color: white !important;
    border-color: white !important;
    align-items: inherit;
    
    
    }
    .btn4{
  
      height: 50px;
      width: 160px;
      border-radius:25px ;
      background-color: white !important;
      border-color: white !important;
      align-items: inherit;
      opacity: 1;
      
      
      }
  
  
  .btn1{
  
      height: 50px;
      width: 130px;
      border-radius:25px ;
      background-color: #231F20 !important;
      
      
      }
  
      .btn2{
  
        min-height: 50px;
       min-width: 130px;
        border-radius:25px ;
        color: #F36A36 !important;
        background-color: white !important;
        padding: none;
        background: transparent;
        
        -webkit-background-size: 100%;
      -o-background-size: 100%;
      -moz-background-size: 100%;
      -ms-background-size: 100%;
      -khtml-background-size: 100%;
      background-size: 100%
     
        }
  
    .bottom-div{
      opacity: 85%;
    }
  
  @media(max-width:768px){
      .bottom-div{
          opacity:100%;
      }
  }
  
    @media(max-width:480px){
      .row-bottom{
        height:auto;
        margin-top: auto;
        margin-bottom: auto;
        background-position-y:inherit;
      }
      .bottom-div{
        opacity: 100%;
        
      }
    }
  
  .section-testimonials {
  
    padding-top: .5rem;
    padding-bottom: .5rem;
  
  
  }
  
  
  
  
    .story {
      width: 100%;
  
      margin: 2rem auto;
      ffont-family: Nunito, sans-serif;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 4rem;
      padding-right: 1rem;
      font-size: 0.8rem;
      transition: all .25s ease;
      /* transform: skewX(-12deg); */
    }
  
  .story_head_alum {
    font-size: 1.2rem;
    font-family: Nunito, sans-serif;
    font-weight: bold;
  }
  
    .story--green {
      background-size: cover;
      background-color: #73C38E;
    }
    .story--blue {
      background-size: cover;
      background-color: #05A1C8;
    }
    .story--yellow {
      background-size: cover;
      background-color: #F9EE34;
    }
    .story--orange {
      background-size: cover;
      background-color: #F36A36;
    }
  
    .story--purple {
      background-size: cover;
      background-color: #9D8BC5;
    }
  
  
      /* .story > * {
        transform: skewX(12deg); } */
      .story__shape {
        position: relative;
        width: 10rem;
        height: 10rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        /* transform: translateX(-3rem) skewX(12deg); */
        transform: translateX(-3rem); }
      .story__image {
        height: 100%;
        opacity: 1;
        transform: scale(1.05) translate(-20%,0);
        transition: all 0.5s ease; }
      .story__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: #fff;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-family: Nunito, sans-serif;
        text-align: center;
        opacity: 0;
        backface-visibility: hidden;
        transition: all 0.5s ease; }
      .story:hover .story__caption {
        opacity: 1;
        transform: translate(-50%, -50%); }
      .story:hover .story__image {
        transform: scale(1) translate(-20%,0);
        filter: blur(3px) brightness(80%); }
      /* .story:hover {
        transform: scale(1.15);
        box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  
      } */
  
  
      @media (max-width:768px){
  
        .story__shape {
          display: inline;
          position: relative;
          width: 8rem;
          height: 8rem;
          -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
          /* transform: translateX(-3rem) skewX(12deg); */
          transform: translateX(-3rem); 
        }
  
        
        
        .story__text {
      
          display: inline;
      
        }
      
      }
  
      a 
  
      #spons {
        /*change background color and font from here*/
        background-color: #FFFFFF;
        color: #17202A;
        font-family: Nunito, sans-serif;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      
  
  
      .box{
        width: 100%;
        height: 100%;
        margin: 5px;
        box-shadow: 0 .2rem 2rem rgba(0, 0, 0, .15);
        transition: all 0.3s ease;
      
      }
      
      .box:hover{
        transform: scale(1.2);
        box-shadow: 0 .4rem 2rem rgba(0, 0, 0, .15);
      }
      
      .container_image_hov{
        display: flex;
        flex-direction: row;
      }
      
      .box img{
        display: block;
        width:100%;
        margin-bottom: 0 !important;
        border-radius: 1.5rem;
        background-color: #F9E79F
      }
  
  
      .spons__heading{
        text-align: center;
        font-size: 3.25rem;
        border-bottom: 2px dotted #0000;
        font-weight: bold;
      
      }
      .spons__container{
        background-color: #FFFFFF;
      }
  
      .sponsor__heading {
        font-size: 35px;
      }
  
      .affiliation__heading {
        font-size: 35px;
      }
      
  
      .donate__text {
        font-family: Nunito, sans-serif;
      }
  
  @media (max-width:767px){
  
    .flip-card {
      height: 450px;
    }
  }
  
  @media (max-width:400px){
    .flip-card {
      height: 750px;
    }
  
    .flip-card-front {
      overflow-wrap: break-word;
    }
  }
  
  
  
  @media (max-width:992px) {
  
    html {
      font-size: 12px;
    }
    .row1, .row2, .c-1 {
      height: max-content !important;
    }
  
    .header-by-line {
      top: 30%;
    }
    /* .header-by-line {
      display: none;
    } */
  
    .our-mission, .pledge, .our-initiatives, .help-and-donate {
      display: block;
    }
  
  
  }
  
  @media (max-width:569px)
  {
    .header-by-line--line1 {
      font-size: 30px;
    }
  }
  
  
  @media (max-width:489px)
  {
    .header-by-line--line1 {
      font-size: 29px;
    }
  }
  
  @media (max-width:474px)
  {
    .header-by-line--line1 {
      font-size: 20px;
    }
  }
  
  @media (max-width:474px)
  {
    .header-by-line {
      display: none;
    }
  }
  
  
  
  
  
  
  
  
  
  /*FOOTER*/
  
  #footer {
    background: #73C38E;
    padding: 0 0 30px 0;
    /* change made to text colour by Soham */
    color: black;
    font-size: 14px;
  }
  
  #footer .footer-top {
    /* change made to footer colour by Soham */
    background: #dee0e3; 
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
    text-align: left !important;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: Nunito, sans-serif;
    color: black;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: black;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #fed136;
    color: black;
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top h4::before,
  #footer .footer-top h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
  }
  
  #footer .footer-top h4::before {
    right: 0;
    background: #555;
  }
  
  #footer .footer-top h4::after {
    background: #fed136;
    width: 60px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
  }
  
  #footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: black;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #fed136;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #fed136;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #fed136;
  }
  
  
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
    ;
  }
  
  
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: white;
  }
  
  /* Donate_RazorPay */
  
  .card-donation{
      padding: 1rem;
      /* height: 45rem;  */
      border: 1px solid black !important;
    }
  
    
  
  
    .button_donate_razorpay{
      background-color:#fed336;
      font-style: italic;
      font-weight: 600;
      /* border:1px solid #ffffff; */
        display:inline-block;
        cursor:pointer;
        color:black;
        font-family: Verdana, sans-serif;
        /* font: size 10px; */
        /* padding:16px 31px; */
      text-decoration: none !important;
      padding: 10px 20px;
      text-transform: capitalize;
      border-radius: 100vw;
      border: none;
      outline: none;
      letter-spacing: 2px;
      box-shadow: 0 0 5px rgba(150, 150, 150, 0.1);
    }
    .button_donate_razorpay:hover {
      background-color:#353a40;
      color: white !important;
      
  }
  .button_donate_razorpay:active {
      position:relative;
      top:1px;
  }
  .button_donate_razorpay_2{
    border:1px solid #fed336;
    border-radius: 28px;
    background-color:#fed336;
    font-style: italic;
    font-weight: bold;
  /* border:1px solid #ffffff; */
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family: Verdana, sans-serif;
    /* font: size 10px; */
    /* padding:16px 31px; */
    text-decoration: none !important;
  
  }
  .button_donate_razorpay_2:hover{
    transform: translateY(-0.3rem) !important;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2) !important;
    color:white !important;
    
  }
  
  
  
  
  .input-div {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin-inline: 2rem;
  }
  
  .input-time {
    outline: none;
    border: none;
    padding-inline: 1rem;
    width: 6rem;
    position: relative;
    text-align: center;
  }
  
  .next-btn {
    position: absolute;
    top: 0;
    right: -2rem;
    width: 2rem;
    height: 2rem;
    background-color: #fed336;
    border-radius: 0 100vw 100vw 0;
    cursor: pointer;
    color: black;
  }
  
  .prev-btn {
    position: absolute;
    top: 0;
    left: -2rem;
    width: 2rem;
    height: 2rem;
    background-color: #fed336;
    border-radius: 100vw 0 0 100vw;
    cursor: pointer;
    color: black;
  }
  
  
  .amount_money{
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family: Verdana, sans-serif;
    /* font: size 10px; */
    /* padding:16px 31px; */
    text-decoration: none !important;
    padding: 0.2rem;
    margin: 0.5rem;
    text-transform: capitalize;
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 2px;
    border-color: #fed336;
    outline: none;
    letter-spacing: 2px;
    box-shadow: 0 0 5px rgba(150, 150, 150, 0.1);
  }
  .amount_money:hover {
  background-color:#fed336 ;
    color: white !important;
    
  }
  
  .amount_money:active {
  position:relative;
  top:1px;
  }
  
  
  #more {display: none;}